@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');


#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Oswald", sans-serif;
}

html {
  height:100%;
  }
  
body {
  margin:0;
  background-color: #808782;
  }