

.reg-wrapper{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg, #fcfced );
  }
  
  .auth-form-container, .register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  