.Todo1 {
	text-align:left ;
	color: #B3FFB3; 
	font-family: 'Oswald';
	background-color: #656565;
	height: 90px;
	padding: 20px
 }
 
 input, button {
	 appearance: none;
	 border: none;
	 outline: none;
	 background: none;
 }
 
 .to-do-list-input {
	 flex: 1 1 0%;
	 background-color: #A6D3A0;
	 padding: 1rem;
	 border-radius: 1rem;
	 margin-right: 1rem;
	 color:#808782;
	 font-size: 1.25rem;
 }